@import "tailwindcss";

html,
body {
  height: 100%;
  --color-magenta: #FF0066;
  --color-blue: #0099ff;
  --color-black: #00171F;
  --color-accent: #FA9E60;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.image-container::after {
  content: "";
  background-image: url(/wave-photo-bottom.svg);
  display: block;
  width: 100%;
  height: 50px;
  background-size: auto;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
