@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.wavyBackground {
background-color: #e4eff4;
opacity: 0.2;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e4eff4 40px ), repeating-linear-gradient( #87b2fd55, #87b2fd );
}
