@import "tailwindcss";

html,
body {
  height: 100%;
  --color-magenta: #FF0066;
  --color-blue: #0099ff;
  --color-black: #00171F;
  --color-accent: #FA9E60;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
